# used for resolving posts
BSKY_HANDLE="<bsky label service account username>"
BSKY_PASSWORD="<bsky label service account app password>"

# used in the bin/publish-labeler scripts
LABELER_SLUG="<slug>"
LABELER_DESCRIPTION="<description>"
LABELER_AVATAR="<path to png or jpg file>"
LABELER_HOSTNAME="<hostname>"
PLC_SIG_TOKEN="<token received via email after running scripts/request-plc-signature-token>"